* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: blueviolet;
    }

main {
    background-color: aliceblue;
    width: 750px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(red, green, blue, alpha);
}

h1 {
    font-size: 2em;
    color: blueviolet;
}

h2 {
    font-size: 1.5em;
    color: blueviolet;
}

p{
    font-size: 1em;
    color: blueviolet;
}

img.lado {
    position: relative;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(79, 5, 148);
    width: 10x;
    height: 10px;
}

a:hover {
    text-decoration: underline;
    color: blueviolet;
    width: 10x;
    height: 10px;
}

img {
    width: 300x;
    height: 300px;
    object-fit: scale-down;
   
  }

  